table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

.navbar-expand{-sm|-md|-lg|-xl}

.img-fluid. max-width: 100%;

.form-inline
.rounded-circle