{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="avatar_block">
    
      <div class="row">
        <div class="col-sm">
          <form>
            <label for="message_text"><h1>Contact us</h1></label><br />
            <input
              class="form-control mr-sm-2"
              id="message_text"
              type="search"
              placeholder="Message"
              aria-label="Search"
              autocomplete="off"
            /><br />
            <input
              type="submit"
              value="Submit"
              id="submit"
              class="btn btn-secondary"
              style="margin-bottom: 5px"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="static/send_message.js"></script>
{% endblock %}
