<!-- table, where invited, and accepted friend steps and you steps are showing. -->


<!-- <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Invite Friend
    </button>
    
            <tr>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for user in friends_list %}
                        <button class="dropdown-item" type="button">{{user}}</button>
                    {% endfor %}
                </div>
            </tr>
           
    
  </div> -->